---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
   /* ここにカスタムスタイルを追加 */
   body {
     background-color: #fff9c4 !important;
   }
   h1 {
     font-size: 2em; /* 例: 2emに設定 */
     font-weight: bold; /* 太字に設定 */
     color: #333; /* 文字色を設定 */
   }
